<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
   
   <editor
		id="org.dworks.octaveide.editor.OctaveEditor"
		class="org.dworks.octaveide.editor.OctaveEditor"
		icon="icons/octave.png"
		extensions="m,oct,octave"
		default="true"
		name="%OctaveEditor.name">
   <contentTypeBinding contentTypeId="org.dworks.octaveide.octaveContentType"/> 	
   </editor>
   
   </extension>
   
   <extension point="org.eclipse.core.runtime.contentTypes">
   <content-type
      id="org.dworks.octaveide.octaveContentType"
      base-type="org.eclipse.core.runtime.text"
      name="%octaveContentType"
      priority="high"
   />   
   </extension>

</plugin>
