<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
   
   <editor
		id="org.dworks.octaveide.editor.OctaveEditor"
		class="org.dworks.octaveide.editor.OctaveEditor"
		extensions="m,oct,octave"
		icon="icons/octave.png"
		name="Octave Editor"
   />
   
   </extension>

</plugin>
