<?xml version="1.0" encoding="UTF-8"?>
<plugin>

<extension point="org.eclipse.ui.perspectives">
<perspective
	id="org.dworks.octaveide.perspective"
	class="org.dworks.octaveide.perspective.OctavePerspective"
	name="Octave"
	icon="%icon"/>
 </extension>
 
 <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.dworks.octaveide.perspective">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="left"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="problem"/>
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.ui.editors">
   
   <editor
		id="org.dworks.octaveide.editor.OctaveEditor"
		class="org.dworks.octaveide.editor.OctaveEditor"
		icon="%icon"
		extensions="m,oct,octave"
		default="true"
		name="%OctaveEditor.name">
   <contentTypeBinding contentTypeId="org.dworks.octaveide.octaveContentType"/> 	
   </editor>
   
   </extension>
   
   <extension point="org.eclipse.core.runtime.contentTypes">
   <content-type
      id="org.dworks.octaveide.octaveContentType"
      base-type="org.eclipse.core.runtime.text"
      name="%octaveContentType"
      priority="high"
   />   
   </extension>

</plugin>
